body {
	font-family: Jura, Arial;
	background-color: #424242;
	color: white;
}

h1, h2 {
	text-align: center;
}

div.container {
	display: table;
	width: 100%;
	table-layout: fixed;
}

div.container > div {
	display: table-cell;
	text-align: center;
}

div.container > div iframe {
	width: 90%;
	aspect-ratio: 16 / 9;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: underline;
}